
a{
    color: rgb(255, 255, 255);
}
p{
	text-align: center;
	max-width:66ch;

}

body {
    background-color: black;
               color: white;
               margin: 0;
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               height: 100vh;
   }

   .navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #222;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.navbar a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	transition: 0.3s;
}
.navbar a:hover {
	background-color: white;
	color: black;
}